<div id="container">
    <div id="formulario">
        <div id="headerFormulario"></div>
        <div id="conteudoFormulario">
            <table>
                <tbody>
                    <tr ng-repeat="item in list">
                        <td id="imagem"></td>
                        <td>
                            <div>
                                <h5>{{item.Titulo}}</h5>
                                <h6>{{item.Usuario}}</h6>
                                <p>{{item.UltimaAtualizacao}}</p>
                                <p>{{item.QuantAulas}} - {{item.QuantArtigos}} - {{item.QuantVideos}}</p>
                                <p>{{item.DescicaoResumida}}</p>
                                <span>Professor</span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="rodapeFormulario"></div>
    </div>
</div>