<div id="container">
    <h2>Resultado da Busca:</h2>
    <div id="formulario">
        <div id="headerFormulario"></div>
        <div id="conteudoFormulario">
            <table class="table table-striped">
                <tbody>
                     <tr ng-repeat="item in list">
                        <td id="imagem"></td>
                        <td>{{item.Titulo}}</td>
                        <td>{{item.Usuario}}</td>
                        <td>{{item.UltimaAtualizacao}}</td>
                        <td>{{item.DescicaoResumida}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="rodapeFormulario"></div>
    </div>
</div>